body {
    background-color: rgb(135, 121, 106);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 2em;
}

header {
    display: flex;
    height: 20em;
    background-color: rgb(181, 169, 255); 
    position: relative;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    color: white;
}

header img {
    display: inline;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

main {
    display: flex;
    gap: 1em;
    flex-flow: row wrap;
    padding: 1em 0;
    width: 100%;
}

nav {
    display: flex;
    width: 19%;
    background-color: rgb(181, 169, 255);  
    justify-self: left;
    position: relative;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

li a:hover {
    color: white;
}

article {
    background-color: #3a2c13; 
    flex: 1;
}

aside {
    width: 19%;
    background-color: rgb(145, 16, 31);  
}

footer {
    padding: 1em 0;
    background-color: #3a2c13; 
}

footer h2 {
    margin: 0;
}